@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 1em auto 0;
  background-color: #FFFBE9;
}

.container {
  background-color: whitesmoke;
  width: 100%;
  padding: 20px 30px;
}

hr {
  border: none;
  background-color: black;
  height: 1px;
  margin-bottom: 15px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #F4EAD5 !important;
  box-shadow: 0px 0px 1px 1px;
}

#site-title {
  font-size: 5vh;
}

#site-title img {
  height: 4vh;
}

nav a {
  font-size: small;
  text-decoration: none;
  border: 1px solid transparent;
}

nav a:hover {
  border: 1px dotted black;
}

nav li {
  display: inline;
  padding: 0 10px;
}

nav li::before,
nav li::after {
  content: '/';
}

main {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

main #content {
  background-color: white;
  box-shadow: 0px 0px 2px 1px;
  padding: 10px;
  width: 70%;
}

main #content p {
  padding-top: 0.5em;
  line-height: 2em;
  font-size: medium;
  text-indent: 4em;
}

main aside {
  width: 30%;
  align-self: flex-start;
}

main aside div {
  width: 100%;
}

main aside section {
  background-color: white;
  box-shadow: 0px 0px 1px 1px;
  padding: 10px;
  margin-bottom: 10px;
}

main aside .title {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bolder;
}

main aside .content {
  font-size: small;
}

main aside .content a {
  text-decoration: none;
}

main aside .content ol {
  list-style-type: none;
}

main aside .content ol li::before {
  content: '►';
}

main aside .content .month {
  font-weight: 700;
}

article p {
  line-height: 1.5;
  font-weight: 400;
  font-size: small;
}

#profile {
  display: flex;
}

#profile #identity {
  flex-basis: 40%;
  background-color: #DAE2B6;
}

#profile #identity ul {
  list-style-type: none;
  text-align: center;
}

#profile #identity img {
  width: 100%;
  box-shadow: 0px 0px 1px 1px;
}

#profile #words {
  flex-basis: 60%;
  background-color: #DAE2B6;
}

#service {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

#service img {
  width: 70%;
  box-shadow: 0px 0px 1px 1px;
}

#service div {
  flex-grow: 1;
  flex-basis: 0;
  background-color: #CCD6A6;
  text-align: center;
}

/* #service div .content {
  background-color: aqua;
} */

footer {
  background-color: #F4EAD5;
  margin-top: 1em;
  text-align: center;
}

@media screen and (max-width: 700px) {
  body {
    width: 95%;
  }
  #site-title {
    font-size: 4vh;
  }
  #site-title img {
    height: 3vh;
  }
  nav {
    display: none;
  }

  main {
    flex-direction: column;
  }

  main #content {
    width: 100%;
    order: 1
  }

  main > aside {
    width: 100%;
  }

  #profile {
    flex-direction: column;
  }
}
