@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

hr {
  border: none;
  background-color: black;
  height: 1px;
  margin-bottom: 15px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  padding: 20px 30px;
}

#site-title {
  font-size: 5vh;
}

#site-title img {
  height: 5vh;
}

nav a {
  text-decoration: none;
  border: 1px solid transparent;
}

nav a:hover {
  border: 1px dotted black;
}

nav li {
  display: inline;
  padding: 0 10px;
}

nav li::before,
nav li::after {
  content: '/';
}
