@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 1em auto 0;
  background-color: #FFFBE9;
}

.container {
  background-color: whitesmoke;
  width: 100%;
  padding: 20px 30px;
}

hr {
  border: none;
  background-color: black;
  height: 1px;
  margin-bottom: 15px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #F4EAD5 !important;
  box-shadow: 0px 0px 1px 1px;
}

.header {
  background-color: #F4EAD5 !important;
  box-shadow: 0px 0px 1px 1px;
}

#site-title {
  font-size: 5vh;
}

#site-title img {
  height: 4vh;
}

nav a {
  font-size: small;
  text-decoration: none;
  border: 1px solid transparent;
}

nav a:hover {
  border: 1px dotted black;
}

nav li {
  display: inline;
  padding: 0 10px;
}

nav li::before,
nav li::after {
  content: '/';
}

main {
  width: 100%;
  margin: 1em 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

main #content {
  background-color: #FFFBE9;
  box-shadow: 0px 0px 2px 1px;
  padding: 10px;
  flex-basis: 70%;
}

main #content p {
  padding-top: 0.5em;
  line-height: 2em;
  font-size: medium;
  text-indent: 4em;
}

main #content p:last-child {
  text-indent: 0;
  padding-top: 0;
  padding-bottom: 0.5em;
  line-height: 0;
  font-size: small;
  font-weight: 300;
  text-align: right;
}

main aside#related {
  flex-basis: 28%;
  align-self: flex-start;
  order: 0;
}

main aside div {
  width: 100%;
}

main aside section {
  background-color: #FFFBE9;
  box-shadow: 0px 0px 1px 1px;
  padding: 10px;
  margin-bottom: 10px;
}

main aside section:last-child {
  margin-bottom: 0;
}

main aside .title {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bolder;
}

main aside .content {
  font-size: small;
}

main aside .content a {
  text-decoration: none;
}

main aside .content ol {
  list-style-type: none;
}

main aside .content ol li::before {
  content: '►';
}

main aside .content .month {
  font-weight: 700;
}

article p {
  line-height: 1.5;
  font-weight: 400;
  font-size: small;
}

#profile {
  display: flex;
  box-shadow: 0px 0px 1px 1px;
}

#profile #identity {
  flex-basis: 40%;
  background-color: #DAE2B6;
}

#profile #identity p {
  text-align: center;
}

#profile #identity img {
  width: 100%;
  box-shadow: 0px 0px 1px 1px;
}

#profile #words {
  flex-basis: 60%;
  background-color: #DAE2B6;
  line-height: 1.5em;
  font-size: medium;
}

#profile #words p {
  margin-bottom: 1em;
}

#profile #words ul {
  list-style-type: '\00203A';
  text-indent: 2em;
  margin-bottom: 1em;
}

#profile #words ul li span {
  position: relative;
  left: -1em;
}

blockquote {
  font-size: large;
  background: #FFFBE9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#service {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

#service h1 {
  font-size: large;
}

#service > div {
  box-shadow: 0px 0px 1px 1px;
}

#service p {
  text-align: left;
  margin-bottom: 1em;
}

#service img {
  width: 70%;
  box-shadow: 0px 0px 1px 1px;
}

#service div {
  flex-grow: 1;
  flex-basis: 0;
  background-color: #CCD6A6;
  text-align: center;
}

a.button {
  text-decoration: none;
}

a.button div {
  padding: 10px;
  border-radius: 25px;
  background-color: #F4EAD5 !important;
}

footer#site-footer {
  height: 3em;
  padding-top: 0.8em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 1px 1px;
}

footer {
  background-color: #F4EAD5;
  margin-top: 1em;
  text-align: center;
}

#top {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: black;
}

#top div {
  background-color: #CCD6A6;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: smaller;
  font-weight: 700;
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (max-width: 1014px) {
  main {
    flex-direction: column;
  }

  main #content {
    order: 1;
  }

  main > aside {
    width: 100%;
  }

  #profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 95%;
  }
  #site-title {
    font-size: 4vh;
  }
  #site-title img {
    height: 3vh;
  }

  main {
    flex-direction: column;
  }

  main #content {
    width: 100%;
    order: 1;
  }

  main > aside {
    width: 100%;
    order: 100;
  }

  main > aside section:first-child {
    margin-bottom: 1em;
  }

  #profile {
    flex-direction: column;
  }

  #service h1 {
    font-size: 1em;
  }

  #service {
    font-size: 0.8em;
  }
}
